{% for variable in item.variables | default(duply_default_variables) %}
export {{ variable.key | upper }}="{{ variable.value }}"
{% endfor %}

GPG_KEY="{{ item.gpg_key | default(duply_default_gpg_key) }}"
GPG_PW="{{ item.gpg_passwd | default(duply_default_gpg_passwd) }}"
GPG_OPTS="{{ item.gpg_opts | default(duply_default_gpg_opts) }}"

TARGET="{{ item.target | default(duply_target) }}/{{ inventory_hostname }}/{{ item.name }}"
SOURCE="{{ item.source | default("/") }}"
{% if item.arch_dir | default(False) %}
ARCH_DIR="{{ item.arch_dir }}"
{% endif %}

MAX_AGE="{{ item.max_age | default(duply_default_max_age) }}"
MAX_FULL_BACKUPS="{{ item.max_full | default(duply_default_max_full) }}"
VERBOSITY="{{ item.verbosity | default(duply_default_verbosity) }}"

DUPL_PARAMS="$DUPL_PARAMS --volsize {{ item.volsize | default(duply_default_volsize) }}"
