#jinja2: lstrip_blocks: True
{% for exclude_first in item.excludes_first|default([]) -%}
- {{ exclude_first }}
{% endfor -%}
{% for include in item.includes|default([]) -%}
+ {{ include }}
{% endfor -%}
{% for exclude in item.excludes|default(["**"]) -%}
- {{ exclude }}
{% endfor -%}
